In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# staore CSV in to dataframe
city_data_df =pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-09-17 19:31:20,42.0970,-79.2353,80.02,49,40,6.91
1,1,Lipno,PL,2022-09-17 19:36:08,52.8444,19.1785,52.21,89,35,7.02
2,2,Rikitea,PF,2022-09-17 19:34:16,-23.1203,-134.9692,72.54,76,0,20.20
3,3,Hilo,US,2022-09-17 19:34:50,19.7297,-155.0900,90.28,65,0,5.99
4,4,Castro,BR,2022-09-17 19:36:08,-24.7911,-50.0119,58.68,63,0,9.82

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data
fig

In [5]:
# Heatmap of temperature
# Get the latitude and longitude

locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature wothout negative values
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# usinf list comprehension

#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [20]:
# Heatmap of temperature
# Get the latitude and longitude

locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of Humidity
# Get the latitude and longitude

locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of Cloudiness
# Get the latitude and longitude

locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of windspeed
# Get the latitude and longitude

locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-09-17 19:31:20,42.0970,-79.2353,80.02,49,40,6.91
10,10,Hasaki,JP,2022-09-17 19:36:10,35.7333,140.8333,77.40,88,100,11.14
15,15,Puri,IN,2022-09-17 19:36:11,19.8000,85.8500,82.92,77,97,7.11
18,18,Kulhudhuffushi,MV,2022-09-17 19:36:12,6.6221,73.0700,80.73,78,9,8.23
28,28,Bonthe,SL,2022-09-17 19:36:14,7.5264,-12.5050,76.77,87,100,10.20
32,32,Laurel,US,2022-09-17 19:36:15,39.0993,-76.8483,83.98,53,0,8.05
34,34,Vega Baja,PR,2022-09-17 19:36:16,18.4444,-66.3877,85.95,87,100,7.00
39,39,Vaini,TO,2022-09-17 19:36:18,-21.2000,-175.2000,75.36,83,75,11.50
41,41,Acarau,BR,2022-09-17 19:34:21,-2.8856,-40.1200,80.58,73,51,18.97
43,43,Junin,AR,2022-09-17 19:36:19,-34.5838,-60.9433,79.97,24,100,13.31

In [28]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [75]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(20)

              City Country  Max Temp      Lat       Lng Hotel Name
0        Jamestown      US     80.02  42.0970  -79.2353
10          Hasaki      JP     77.40  35.7333  140.8333
15            Puri      IN     82.92  19.8000   85.8500
18  Kulhudhuffushi      MV     80.73   6.6221   73.0700
28          Bonthe      SL     76.77   7.5264  -12.5050
32          Laurel      US     83.98  39.0993  -76.8483
34       Vega Baja      PR     85.95  18.4444  -66.3877
39           Vaini      TO     75.36 -21.2000 -175.2000
41          Acarau      BR     80.58  -2.8856  -40.1200
43           Junin      AR     79.97 -34.5838  -60.9433
44            Elat      IL     89.44  29.5581   34.9482
45     Guasdualito      VE     89.56   7.2424  -70.7324
47      Port Keats      AU     75.97 -14.2500  129.5500
51    Puerto Ayora      EC     75.16  -0.7393  -90.3518
53           Kieta      PG     78.49  -6.2167  155.6333
59        Nuevitas      CU     86.52  21.5453  -77.2644
63   San Cristobal      VE     84.38   7.7669  -72.2250
67    Saint George      US     87.44  37.1041 -113.5841
69     Canavieiras      BR     80.56 -15.6750  -38.9472
75       Thinadhoo      MV     81.99   0.5333   72.9333

In [68]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [76]:
# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [77]:
# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [78]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Jamestown,US,80.02,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,Hasaki,JP,77.40,35.7333,140.8333,Inubosaki Kanko Hotel
15,Puri,IN,82.92,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
18,Kulhudhuffushi,MV,80.73,6.6221,73.0700,Haajy Guest House 1
28,Bonthe,SL,76.77,7.5264,-12.5050,Bonthe Holiday Village
...,...,...,...,...,...,...
565,Toma,BF,78.42,12.7667,-2.8833,Auberge de l'amitié
567,Cocobeach,GA,77.45,1.0002,9.5823,Hotel Esperance
568,Tabou,CI,76.41,4.4230,-7.3528,hotêl doufoulougou
569,Weiser,US,77.31,44.2510,-116.9693,The Colonial Motel
572,Pahrump,US,86.85,36.2083,-115.9839,Best Western Pahrump Oasis

In [81]:
# Heatmap of max temp
# Get the latitude and longitude

locations = hotel_df[["Lat","Lng"]]

# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

# add markers

marker_layer = gmaps.marker_layer(locations)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Add the marker layer.
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [91]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [92]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [93]:
# Heatmap of max temp
# Get the latitude and longitude

locations = hotel_df[["Lat","Lng"]]

# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

# add markers

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Add the marker layer.
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))